@charset "UTF-8";
/*==== Styles for the presentation of the Style Guide ====*/
html,
body {
  padding: 0;
  margin: 0;
  background: #eee;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
#sg-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: white;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  font-size: 12px;
  padding: 0 2em;
}
#sg-menu a,
#sg-menu span {
  display: inline-block;
  font-weight: bold;
  padding: 0 1em;
  line-height: 40px;
}
#sg-menu a {
  color: #406abf;
  text-decoration: none;
}
#sg-menu a:hover {
  text-decoration: underline;
}
#sg-menu span {
  color: #444;
}
#style-guide {
  max-width: 1400px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: 0 auto;
  padding: 40px 2em;
  background: white;
  height: 100%;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.sg-element {
  font-size: 80%;
  color: #444;
}
.sg-element h1,
h1.sg-element {
  border-bottom: 1px solid #ddd;
  font-size: 140%;
  margin: 0.4em 0;
  font-weight: 100;
  padding: 0.4em 0;
}
.sg-element h2,
h2.sg-element {
  border-bottom: 2px solid #ddd;
  margin: 1em 0 0.4em 0;
  font-size: 120%;
  font-weight: 100;
  padding: 0.4em 0;
}
.sg-element h3,
h3.sg-element {
  border-bottom: 1px solid #ddd;
  margin: 0.4em 0;
  font-size: 110%;
  font-weight: 200;
  padding: 0.4em 0;
}
.sg-element p,
p.sg-element {
  margin: 0.4em 0;
}
.sg-element p a,
p.sg-element a {
  color: #406abf;
}
.sg-element p a:hover,
p.sg-element a:hover {
  text-decoration: none;
}
.source-panel pre.language-markup {
  font-size: 90%;
}
.source-panel code.language-markup {
  font-size: 100%;
}
section .btn {
  font-size: 11px;
  font-weight: bold;
  padding: 0.4em 0.6em;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}
section .btn:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
section .btn.btn-small {
  color: #406abf;
  float: right;
  margin-top: -40px;
}
section .btn.btn-copy {
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
  display: block;
  background-color: #eee;
  border: 1px solid #bbb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #fefefe 0%, #dddddd 100%);
  background-image: linear-gradient(to bottom, #fefefe 0%, #dddddd 100%);
  text-decoration: none;
}
section .btn.btn-copy:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fefefe), to(#dddddd));
  background-image: -webkit-linear-gradient(bottom, #fefefe 0%, #dddddd 100%);
  background-image: linear-gradient(to top, #fefefe 0%, #dddddd 100%);
  color: #264073;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
.credits {
  margin: 0 0.4em;
  padding: 0;
  border-left: 4px solid #ddd;
}
.credits button {
  float: right;
  border: none;
  background: none;
  padding: 0;
  margin: -24px 0 0.6em 1em;
  color: #406abf;
  text-decoration: underline;
}
.credits button:hover {
  text-decoration: none;
}
.credits .details {
  display: none;
  padding: 0 1em 0.4em 1em;
}
/*# sourceMappingURL=sg-styles.css.map */